---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?e=LocalBitcoins&fsym=ETH&limit=5&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Error","Message":"e param is not valid the market does
        not exist for this coin pair","Type":1,"Aggregated":false,"Data":[]}'
  recorded_at: Mon, 26 Mar 2018 21:40:57 GMT
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/histoday?e=Bitfinex&fsym=ETH&limit=5&tsym=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"Success","Type":100,"Aggregated":false,"Data":[{"time":1521590400,"close":558.78,"high":590.11,"low":544.49,"open":556.38,"volumefrom":184758.56,"volumeto":104635517.5},{"time":1521676800,"close":539.19,"high":578.18,"low":514,"open":558.78,"volumefrom":174861.03,"volumeto":94593925.52},{"time":1521763200,"close":543.85,"high":544.28,"low":504.58,"open":539.19,"volumefrom":192973.83,"volumeto":100048838.67},{"time":1521849600,"close":518.8,"high":546.36,"low":517.85,"open":543.85,"volumefrom":108560.56,"volumeto":57982954.18},{"time":1521936000,"close":522.41,"high":537,"low":512.87,"open":518.8,"volumefrom":81571.27,"volumeto":42526859.31},{"time":1522022400,"close":482.9,"high":525.37,"low":466.63,"open":522.41,"volumefrom":197680.72,"volumeto":97566359.93}],"TimeTo":1522022400,"TimeFrom":1521590400,"FirstValueInArray":true,"ConversionType":{"type":"force_direct","conversionSymbol":""}}'
  recorded_at: Mon, 26 Mar 2018 22:10:04 GMT
recorded_with: VCR 4.0.0
